<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDeTai.Properties.Settings.QLDeTaiConnectionString"
            connectionString="Data Source=LINHBLACK\SQLEXPRESS;Initial Catalog=QLDeTai;User ID=sa;Password=0905608763"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>